<html>
<head>
	<meta charset="utf-8">
{{{_pjango_templage_head}}}
	<title>Pjango index</title>
	<style type="text/css">
	</style>
</head>
<body>
<div class="col-md-12 column blue_1_2 box">
	<div class="col-md-10 col_center column">
		<div class="col-md-12 column gap_90">
			<div class="col-md-12 column gap_30"></div>
			<h1 class="text-center white">Welcome using Pjango!</h1>
			<div class="col-md-12 column index">
				<h4 class="text-center white">{{_pjango_time}}</h4>
				<h4 class="text-center white">{{_pjango_msg}}</h4>
			</div>
		</div>
		<div class="col-md-12 column gap_5"></div>
{{{_pjango_templage_foot}}}
	</div>
</div>
</body>
</html>
