<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Welcome to Pjango</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class="text-center">Welcome to Pjango!</h1>
<h4 class="text-center">{{_pjango_param_msg}}</h4>
<h4 class="text-center">{{_pjango_param_time}}</h4>

<div class="text-center">
	<button type="button" class="btn btn-default" onclick="window.open('{{_pjango_url_timezone}}')">See More Time Zone</button>
</div>

</body>
</html>

