<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Pjango Demo</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
   <thead>
      <tr>
         <th>ZONE</th>
         <th>MEMO</th>
      </tr>
   </thead>
   <tbody>
{{#_pjango_param_table}}
      <tr>
         <td>{{_pjango_param_table_TimeZone_ZONE}}</td>
         <td>{{_pjango_param_table_TimeZone_MEMO}}</td>
      </tr>
{{/_pjango_param_table}}
   </tbody>
</table>

</body>
</html>
