<html>
<head>
	<meta charset="utf-8">
{{{_pjango_templage_head}}}
	<title>Pjango Time Zone</title>
	<style type="text/css">
	</style>
</head>
<body>
<div class="col-md-12 column blue_1_2 box">
	<div class="col-md-10 col_center column">
			<div class="col-md-12 column">
{{# _pjango_param_timezone}}
				<h1 class="text-left white">{{_pjango_param_zone}}</h1>
				<h4 class="text-left white">{{_pjango_param_date}}</h4>
{{/ _pjango_param_timezone}}
			</div>
		<div class="col-md-12 column gap_5"></div>
{{{_pjango_templage_foot}}}
	</div>
</div>
</body>
</html>
