body { 
	height:100%; 
	min-height:100%; 
	max-height:100%; 
}
div.smallbox {
	height: 30%;
	min-height: 30%;
	max-height: 30%;
}
div.box {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}
div.bigbox {
	height: 200%;
	min-height: 200%;
	max-height: 200%;
}
div.gap_1 {
	height: 1%;
	min-height: 1%;
	max-height: 1%;
}
div.gap_2 {
	height: 2%;
	min-height: 2%;
	max-height: 2%;
}
div.gap_3 {
	height: 3%;
	min-height: 3%;
	max-height: 3%;
}
div.gap_4 {
	height: 4%;
	min-height: 4%;
	max-height: 4%;
}
div.gap_5 {
	height: 5%;
	min-height: 5%;
	max-height: 5%;
}
div.gap_6 {
	height: 6%;
	min-height: 6%;
	max-height: 6%;
}
div.gap_7 {
	height: 7%;
	min-height: 7%;
	max-height: 7%;
}
div.gap_8 {
	height: 8%;
	min-height: 8%;
	max-height: 8%;
}
div.gap_10 {
	height: 10%;
	min-height: 10%;
	max-height: 10%;
}
div.gap_15 {
	height: 15%;
	min-height: 15%;
	max-height: 15%;
}
div.gap_18 {
	height: 18%;
	min-height: 18%;
	max-height: 18%;
}
div.gap_20 {
	height: 20%;
	min-height: 20%;
	max-height: 20%;
}
div.gap_25 {
	height: 25%;
	min-height: 25%;
	max-height: 25%;
}
div.gap_30 {
	height: 30%;
	min-height: 30%;
	max-height: 30%;
}
div.gap_40 {
	height: 40%;
	min-height: 40%;
	max-height: 40%;
}
div.gap_50 {
	height: 50%;
	min-height: 50%;
	max-height: 50%;
}
div.gap_60 {
	height: 60%;
	min-height: 60%;
	max-height: 60%;
}
div.gap_65 {
	height: 65%;
	min-height: 65%;
	max-height: 65%;
}
div.gap_70 {
	height: 70%;
	min-height: 70%;
	max-height: 70%;
}
div.gap_75 {
	height: 75%;
	min-height: 75%;
	max-height: 75%;
}
div.gap_77 {
	height: 77%;
	min-height: 77%;
	max-height: 77%;
}
div.gap_80 {
	height: 80%;
	min-height: 80%;
	max-height: 80%;
}
div.gap_90 {
	height: 90%;
	min-height: 90%;
	max-height: 90%;
}
div.gap_100 {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}
img.head{
	width: 100px;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
}
div.col_center{ 
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;
}